[submodule "vendor/tkg-gui"]
	path = vendor/tkg-gui
	url = https://github.com/MasterGenotype/tkg-gui.git
	branch = main
[submodule "vendor/gamescope"]
	path = vendor/gamescope
	url = https://github.com/MasterGenotype/gamescope.git
	branch = gamescope-ba
