# Build configuration for portable static binary
# To build: rustup target add x86_64-unknown-linux-musl && cargo build --release --target x86_64-unknown-linux-musl

[target.x86_64-unknown-linux-musl]
rustflags = ["-C", "target-feature=+crt-static"]

[build]
# Uncomment to make musl the default target
# target = "x86_64-unknown-linux-musl"

[alias]
portable = "build --release --target x86_64-unknown-linux-musl"
